@model FeedbackModel

<h2>Contact Us</h2>

<p>
	If you have any questions, or would like to give us some feedback, please fill in the form below and we will be in touch.
</p>

@using (Html.BeginForm())
{
	<ul>
		<li>
			<label>Name</label>
			@Html.TextBoxFor(m => m.Name)
			@Html.ValidationMessageFor(m => m.Name)
		</li>
		<li>
			<label>Email</label>
			@Html.TextBoxFor(m => m.Email)
			@Html.ValidationMessageFor(m => m.Email)
		</li>
		<li>
			<label>Message</label>
			@Html.ValidationMessageFor(m => m.Message)
			@Html.TextAreaFor(m => m.Message)
		</li>
		<li>
			<input type="submit" class="button" value="Submit"/>
		</li>
	</ul>
}