@model HomeModel

@section head
{
	<link rel="stylesheet" href="@Url.Content("~/Content/nivo-slider.css")" type="text/css" media="screen"/>
    <link rel="stylesheet" href="@Url.Content("~/Scripts/plugins/themes/default/default.css")" type="text/css" media="screen"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/home.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/colorbox.css")" type="text/css"/>
}

<div id="sliderQuote">
    @Html.Partial("Partials/Slider", Model.LatestEvents)
	
	<div id="quote" class="inlineBlock">
		<h3>@Model.Quote.Person</h3>
		<span>@Model.Quote.Info</span>
        <img src="@Url.Content("~/Content/images/home/triangle.png")"/>
        <div id="randomQuote">
            <p>@Model.Quote.Quote</p>
        </div>
	</div>

</div>

<div id="quoteWrapper">
	<h2>Message from Norman Bell, Chairmen of Trustees</h2>
	<div id="images" class="inlineBlock">
		<img id="profile" src="@Url.Content("~/Content/images/home/norman.jpg")"/>
		<img id="playing" src="@Url.Content("~/Content/images/home/normanplaying.jpg")"/>
	</div>

		<div id="speechWrapper" class="inlineBlock">
		<p>
			I have seen the massive benefits that sport can bring to individuals, particularly young people and children. It has long been my dream to establish
			an organisation that from first to last is focused entirely on the social development of young disadvantaged people and children through a variety
			of sporting activity, utilising top-flight professional coaches.
		</p>
		<p>
			As a professional footballer with Wolverhampton Wanderers and Blackburn Rovers I have seen first hand the huge benefits that sport can bring to the social
			development of young people. It has been a privilege over the last thirty years to be heavily involved, on a voluntary basis, with young people from
			privileged backgrounds along with young people who have been socially disadvantaged, disabled, or have offended. For me it was a natural progression
			to set up <span class="bold">Opportunity Sports Foundation</span>.
		</p>
		<p>
			Involvement in sport has changed my life and provided me with opportunities that I could have only dreamed of. At OSF we have achieved significant success
			through focused sport activity. The success of our sport development initiatives has led to another natural progression - obtaining full charity status.
		</p>
		<p>
			We are delighted that individuals and organisations have positively endorsed our work and we are pleased to share these endorsements with users and potential
			users of our non-profit making service.
		</p>
		<p>
			I believe OSF will provide significant opportunities for the youth of Lancashire and the North West through the provision of first class sport coaching. It
			will be up to young people of the region to grasp this opportunity and seize the chance to take ownership of their own destiny.
		</p>
		<p>
			Sincere best wishes
		</p>
		<p>
            <img src="@Url.Content("~/Content/images/home/signature.png")"/>
		<p>
			Norman Bell
		</p>
		<p>
			Chairman of Trustees, OSF
		</p>
	</div>
</div>

<div class="boxes">
    <h2>What is OSF?</h2>
    <ul>
        <li>
            <div class="image">
                <img src="@Url.Content("~/Content/images/home/latest1.png")"/>
            </div>
            <div class="info">
                <h3>About OSF</h3>
                <p>Find out our mission, our vision, our values, and what OSF is all about</p>
            </div>
            @Html.ActionLink("learn about us →", "index", new { controller = "about" }, new { @class = "readMore" })
        </li>
        <li>
            <div class="image">
                <img src="@Url.Content("~/Content/images/home/latest2.png")"/>
            </div>
            <div class="info">
                <h3>Supporters</h3>
                <p>View a list of our supporters, who OSF wouldn't be able to operate without</p>
            </div>
            @Html.ActionLink("see our supporters →", "index", new { controller = "supporters" }, new { @class = "readMore" })
        </li>
        <li>
            <div class="image">
                <img src="@Url.Content("~/Content/images/home/latest3.png")"/>
            </div>
            <div class="info">
                <h3>Recent Events</h3>
                <p>View pictures and descriptions of our recent events</p>
            </div>
            @Html.ActionLink("view events →", "index", new { controller = "events" }, new { @class = "readMore" })
        </li>
        <li class="last">
            <div class="image">
                <img src="@Url.Content("~/Content/images/home/latest4.png")"/>
            </div>
            <div class="info">
                <h3>Brochures</h3>
                <p>Click here to view brochures containing further information about OSF</p>
            </div>
            <a id="brochures" class="readMore" href="http://docs.google.com/viewer?embedded=true&url=@Model.BrochuresUrl">view brochures →</a>
        </li>
    </ul>
</div>

@section scripts
{
	<script type="text/javascript" src="/Scripts/plugins/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="/Scripts/plugins/jquery.colorbox-min.js"></script>
    
    <script type="text/javascript">
		$('#slider').nivoSlider({
			effect:"random",
			slices:15,
			boxCols:8,
			boxRows:4,
			animSpeed:500,
			pauseTime:4000,
			startSlide:0,
			directionNav:true,
			directionNavHide:true,
			controlNav:true,
			controlNavThumbs:true,
			controlNavThumbsFromRel:true,
			keyboardNav:true,
			pauseOnHover:true,
			manualAdvance:false
		})

		$('a#brochures').colorbox({iframe: true, width: "90%", height: "90%"})
	</script>	
}
