<!DOCTYPE html>
<html>
	<head>
		<title>Opportunity Sports Foundation</title>
		
		<link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.ico")" />

		<link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css"/>
		
		@RenderSection("head", false)
	</head>

	<body>
		<div id="header">
			<div id="titleWrapper">
				<p class="inlineBlock">
					<a href="/"><img src="/content/images/blue-logo.png"/></a>
				</p>
				<span>REGISTERED CHARITY NO. 1142543</span>
				<ul id="nav" class="inlineBlock">
					<li>@Html.ActionLink("HOME", "Index", new {controller = "Home"})</li>
					<li>@Html.ActionLink("ABOUT US", "Index", new {controller = "Home"})</li>
					<li>@Html.ActionLink("VIEW BROCHURES", "Index", new {controller = "Home"})</li>
					<li>@Html.ActionLink("OUR SUPPORTERS", "Index", new {controller = "Home"})</li>
					<li>@Html.ActionLink("CONTACT", "Index", new {controller = "Contact"})</li>
				</ul>
			</div>
		</div>
		
		@RenderSection("breadcrumb", false)

		<div id="content">
			<div id="contentWrapper">
				@RenderBody()
			</div>
		</div>
		
		<div id="footer">
			<div id="footerWrapper">
                <div id="giving" class="inlineBlock">
                    <h4>JUST GIVING</h4>
                    <p>
                        If you would like to donate to us you can do so by clicking the Just Giving link below
                    </p>
                    <a href="http://justgiving.co.uk"><img src="@Url.Content("~/Content/images/just-giving.png")"/></a>
                </div>
                <div id="address" class="inlineBlock">
                    <h4>CONTACT DETAILS</h4>
                    <table>
                        <tr>
                            <td style="width:100px;">Tel:</td>
                            <td>01772 666999</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>24 Some Road</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Preston</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Lancs</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>PR25 3FF</td>
                        </tr>
                    </table>
                </div>
                <div id="social" class="inlineBlock">
                    <h4>FOLLOW US</h4>
                    <a href="http://facebook.com"><img src="@Url.Content("~/Content/images/fb.png")" class="fadeTo"/></a>
                    <a href="http://twitter.com"><img src="@Url.Content("~/Content/images/tw.png")" class="fadeTo"/></a>
                    <a href="http://flickr.com"><img src="@Url.Content("~/Content/images/fl.png")" class="fadeTo"/></a>
                    <a href="http://youtube.com"><img src="@Url.Content("~/Content/images/yt.png")" class="fadeTo"/></a>
                </div>
                <div id="contact" class="inlineBlock">
                    <h4>GET IN TOUCH</h4>
                    <p>Your Email</p>
                    <input type="text" name="email" value="@ViewBag.Email"/>
                    <p>Message</p>
                    <textarea name="message">@ViewBag.Message</textarea>
                    <input type="submit" value="Send" class="button right"/>
                </div>
			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    
    <script type="text/javascript">
        $(function () {
            $('.fadeTo').mouseenter(function () {
                $(this).fadeTo('fast', 0.7)
            })

            $('.fadeTo').mouseleave(function () {
                $(this).fadeTo('fast', 1)
            })
        })
    </script>

    @RenderSection("scripts", false)
</html>
