<!DOCTYPE html>
<html>
	<head>
		<title>Opportunity Sports Foundation</title>
		
		<link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.ico")" />

		<link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css"/>
		
		@RenderSection("head", false)
	</head>

	<body>
		<div id="header">
			<div id="titleWrapper">
				<p class="inlineBlock">
					<a href="/"><img src="/content/images/blue-logo.png"/></a>
				</p>
				<span>REGISTERED CHARITY NO. 1142543</span>
				<ul id="nav" class="inlineBlock">
					<li>@Html.ActionLink("HOME", "Index", new {controller = "Home"})</li>
					<li>@Html.ActionLink("ABOUT US", "Index", new {controller = "Home"})</li>
					<li>@Html.ActionLink("BROCHURES", "Index", new {controller = "Home"})</li>
					<li>@Html.ActionLink("SUPPORTERS", "Index", new {controller = "Home"})</li>
				</ul>
			</div>
		</div>
		
		@RenderSection("breadcrumb", false)

		<div id="content">
			<div id="contentWrapper">
				@RenderBody()
			</div>
		</div>
		
		<div id="footer">
			<div id="footerWrapper">
                <div id="giving" class="inlineBlock">
                    <h4>JUST GIVING</h4>
                    <p>
                        If you would like to donate to us you can do so by clicking the Just Giving link below
                    </p>
                    <a href="http://justgiving.co.uk"><img src="@Url.Content("~/Content/images/just-giving.png")"/></a>
                </div>
                <div id="address" class="inlineBlock">
                    <h4>CONTACT DETAILS</h4>
                    <table>
                        <tr>
                            <td style="width:80px;">Tel:</td>
                            <td>01772 666999</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>24 Some Road, Preston, Lancs, PR25 3GH</td>
                        </tr>
                    </table>
                </div>
                <div id="social" class="inlineBlock">
                    <h4>FOLLOW US</h4>
                    <a href="http://facebook.com"><img src="@Url.Content("~/Content/images/fb.png")" class="fadeTo"/></a>
                    <a href="http://twitter.com"><img src="@Url.Content("~/Content/images/tw.png")" class="fadeTo"/></a>
                    <a href="http://flickr.com"><img src="@Url.Content("~/Content/images/fl.png")" class="fadeTo"/></a>
					<a href="http://youtube.com"><img src="@Url.Content("~/Content/images/yt.png")" class="fadeTo"/></a>
					<div id="latestTweet">
						<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js">
						</script>
						<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/dormisher.json?callback=twitterCallback2&count=1">
						</script>
					</div>
                </div>
                <div id="contact" class="inlineBlock">
                    <h4>GET IN TOUCH</h4>
                    <p>Your Email</p>
                    <input id="email" type="text" value="@ViewBag.Email"/>
                    <p>Message</p>
					<textarea id="message">@ViewBag.Message</textarea>
					@*<img src="@Url.Content("~/content/images/ajax-loader.gif")" class="right"/>*@
                    <input id="sendFeedback" type="submit" value="SEND" class="button right"/>
                </div>
			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    
    <script type="text/javascript">
    	$(function () {
    		$('.button').mouseenter(function () {
    			$(this).fadeTo('medium', 1)
    		})

    		$('.button').mouseleave(function () {
    			$(this).fadeTo('medium', 0.7)
    		})

            $('.fadeTo').mouseenter(function () {
                $(this).fadeTo('medium', 0.7)
            })

            $('.fadeTo').mouseleave(function () {
            	$(this).fadeTo('medium', 1)
            })

            $('#sendFeedback').click(function () {
				//$('#sending').show()
				$.ajax({
					url: '@Url.Action("sendfeedback", "contact")',
					type: 'POST',
					data: 'email=' + $('#email').val() + '&message=' + $('#message').val(),
					success: function () {
						//$('#sending').hide()
					}
				})
			})
        })
    </script>

    @RenderSection("scripts", false)
</html>
