<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title</title>
		
		<link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css"/>
		
		@RenderSection("head", false)
	</head>

	<body>
		<div id="header">
			<div id="titleWrapper">
				<p class="inlineBlock">
					<a href="/"><img src="/content/images/blue-logo.png"/></a>
				</p>
				<span>REGISTERED CHARITY NO. 1142543</span>
				<ul id="nav" class="inlineBlock">
					<li>@Html.ActionLink("HOME", "Index", new {controller = "Home"})</li>
					<li>@Html.ActionLink("MISSION", "Index", new {controller = "Home"})</li>
					<li>@Html.ActionLink("STRATEGY", "Index", new {controller = "Home"})</li>
					<li>@Html.ActionLink("WHY OSF?", "Index", new {controller = "Home"})</li>
					<li>@Html.ActionLink("PORTFOLIO", "Index", new {controller = "Home"})</li>
					<li>@Html.ActionLink("CONTACT", "Index", new {controller = "Home"})</li>
				</ul>
			</div>
		</div>
		
		<div id="content">
			@RenderBody()
		</div>
		
		<div id="footer">
			<div id="footerWrapper">
				<p>
					© copyright 2012 Opportunity Sports Foundation (registered charity no 1142543) |
					@Html.ActionLink("admin", "index", "admin")
				</p>
				<p>
					
				</p>
			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>

	@RenderSection("scripts", false)
</html>
