<!DOCTYPE html>
<html>
	<head>
		<title>Opportunity Sports Foundation</title>
		
		<link rel="shortcut icon" href="@Url.Content("~/Content/Images/favicon.ico")"/>

		<link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css"/>
        <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css"/>
		
		@RenderSection("head", false)
	</head>

	<body>
		<div id="header">
			<div id="titleWrapper">
				<p class="inlineBlock">
					<a href="/"><img src="/content/images/blue-logo.png"/></a>
				</p>
				<span>REGISTERED CHARITY NO. 1142543</span>
				<ul id="nav" class="inlineBlock">
					<li>@Html.ActionLink("HOME", "Index", new {controller = "Home"})</li>
					<li>@Html.ActionLink("ABOUT US", "Index", new {controller = "About"})</li>
					<li>@Html.ActionLink("BROCHURES", "Index", new {controller = "Brochures"})</li>
					<li>@Html.ActionLink("SUPPORTERS", "Index", new {controller = "Supporters"})</li>
				</ul>
			</div>
		</div>
		
		@RenderSection("breadcrumb", false)

		<div id="content">
			<div id="contentWrapper">
				@RenderBody()
			</div>
		</div>
		
		<div id="footer">
			<div id="footerWrapper">
                <div id="giving" class="inlineBlock">
                    <h4>DONATE</h4>
                    <p>
                        If you would like to donate to us you can do so by clicking the Donate button below
                        and making a donation via paypal
                    </p>
                    <a href="http://justgiving.co.uk"><img src="@Url.Content("~/Content/images/just-giving.png")"/></a>
                </div>
                <div id="social" class="inlineBlock">
                    <h4>FOLLOW US</h4>
                    <a href="http://www.facebook.com/Opportunity.Sports"><img src="@Url.Content("~/Content/images/fb.png")" class="fadeTo"/></a>
                    <a href="https://twitter.com/#!/OSF__"><img src="@Url.Content("~/Content/images/tw.png")" class="fadeTo"/></a>
                    <a href="http://www.flickr.com/photos/opportunitysports"><img src="@Url.Content("~/Content/images/fl.png")" class="fadeTo"/></a>
					<a href="http://www.youtube.com/user/OpportunitySports/feed"><img src="@Url.Content("~/Content/images/yt.png")" class="fadeTo"/></a>
					<div id="tweet">
						<img src="@Url.Content("~/content/images/home/triangle.png")"/>
						<p></p>
					</div>
                </div>
                <div id="address" class="inlineBlock">
                    <h4>CONTACT DETAILS</h4>
                    <table>
                        <tr>
                            <td style="width:80px;">Tel:</td>
                            <td>01772 666999</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>24 Some Road, Preston, Lancs, PR25 3GH</td>
                        </tr>
                    </table>
                </div>
                <div id="contact" class="inlineBlock">
                    <h4>GET IN TOUCH</h4>
					<p>Your Email</p>
					<p id="emailValMsg" class="hidden">please enter a valid email!</p>
                    <input id="email" type="text" value="@ViewBag.Email"/>
					<p>Message</p>
					<p id="messageValMsg" class="hidden">please enter a message!</p>
					<textarea id="message">@ViewBag.Message</textarea>
					@*<img src="@Url.Content("~/content/images/ajax-loader.gif")" class="right"/>*@
					<input id="sendFeedback" type="submit" value="SEND" class="button right"/>
					<p id="sentMsg" class="hidden">Thanks! We'll be in touch...</p>
                </div>
			</div>
		</div>
	</body>
	
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"></script>
    
    <script type="text/javascript">
    	$(function () {
    		$('.fadeTo').mouseenter(function () {
    			$(this).fadeTo('medium', 0.7)
    		})

    		$('.fadeTo').mouseleave(function () {
    			$(this).fadeTo('medium', 1)
    		})

    		$('#sendFeedback').click(function () {
    			$('#emailValMsg').hide()
    			$('#messageValMsg').hide()

    			var email = $('#email').val()
    			var message = $('#message').val()

    			var send = true
    			if (!validateEmail(email)) {
    				$('#emailValMsg').fadeIn('medium')
    				send = false
    			}

    			if (message == '') {
    				$('#messageValMsg').fadeIn('medium')
    				send = false
    			}

    			if (send) {
    			    $('body').css('cursor', 'wait!important')
    			    $('#emailValMsg').attr('disabled', 'disabled')
    			    $('#messageValMsg').attr('disabled', 'disabled')
    			    $('#sendFeedback').attr('disabled', 'disabled')

    				$.ajax({
    					url: '@Url.Action("sendfeedback", "contact")',
    					type: 'POST',
    					data: 'email=' + email + '&message=' + message,
    					success: function () {
    						$('#sentMsg').fadeIn('slow', function () {
    							setTimeout(2000, function () {
    								$('#sentMsg').fadeOut()
    							})
    						})

    						$('#email').val('')
    						$('#message').val('')
    						$('body').css('cursor', 'auto')
    						$('#emailValMsg').removeAttr('disabled')
    						$('#messageValMsg').removeAttr('disabled')
    						$('#sendFeedback').removeAttr('disabled')
    					}
    				})
    			}
    		})

            $.getJSON('http://twitter.com/statuses/user_timeline.json?screen_name=OSF__' + '&count=1&callback=?', function (data) {
    			// result returned
    			var tweet = data[0].text;

    			// process links and reply
    			tweet = tweet.replace(/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@@#\/%?=~_|!:,.;]*[-A-Z0-9+&@@#\/%=~_|])/ig, function (url) {
    				return '<a href="' + url + '">' + url + '</a>';
    			}).replace(/B@@([_a-z0-9]+)/ig, function (reply) {
    				return reply.charAt(0) + '<a href="http://twitter.com/' + reply.substring(1) + '">' + reply.substring(1) + '</a>';
    			});

    			// output the result
    			$("#tweet p").html(tweet);
    		});

    		function validateEmail(email) {
    			var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    			return re.test(email);
    		}
    	})
    </script>

    @RenderSection("scripts", false)
</html>
