@model PagedEventsModel

@section head
{
	<style>
	    h2 { margin-top:20px;margin-bottom: 40px; }
	    div.eventBox { width:476px;height: 370px;padding-bottom:20px;vertical-align: top;}
	    div.eventBox:first-child { margin-right:40px; }
	    div.eventBox div { vertical-align:top; }
	    div.eventBox h3 { color:#353535; font-size:22px; margin:20px }
	    div.eventBox h3 span { color:#999; font-size:16px; margin-left:20px; }
	    div.eventBox p { font-size:13px;text-align: justify;margin: 0 20px; }
	    
	    a.paging { color:#00AFEF; font-size:16px; padding:3px 5px; margin-bottom:3px; }
        a.paging:hover { background-color:#00AFEF; color:#fff; }
	    
	    .wrapper {border-color: #eee;}
	    
	    div.image { overflow:hidden; width:477px; height:200px;}
	    div.image img { width:477px; }
	</style>
}

<h2>Recent Events</h2>

@if (Model.LatestEvents.Count > 0)
{
	<div class="wrapper" style="margin-bottom:30px;">
		@RenderEvent(Model.LatestEvents[0])
		@if (Model.LatestEvents.Count > 1)
		{
			@RenderEvent(Model.LatestEvents[1])
		}
	</div>
}

@if (Model.LatestEvents.Count > 2)
{
	<div class="wrapper" style="margin-bottom:10px;">
		@RenderEvent(Model.LatestEvents[2])
		@if (Model.LatestEvents.Count > 2)
		{
			@RenderEvent(Model.LatestEvents[3])
		}
	</div>
}

@if (Model.Page > 1)
{
	@Html.ActionLink("← more recent", "index", new { page = Model.Page - 1 }, new { @class = "paging" })
}

@if (Model.Page < Model.TotalPages)
{
	@Html.ActionLink("older →", "index", new { page = Model.Page + 1 }, new { @class = "paging right" })
}

@helper RenderEvent(LatestEventModel e)
{
	<div class="eventBox inlineBlock beveledBox">
		<div class="image inlineBlock">
			<img src='https://s3-eu-west-1.amazonaws.com/osf.latestevents/@(e.Id).jpg'/>
		</div>
		<h3>@e.Title <span>@e.Date</span></h3>
		<p>@e.Description</p>
	</div>
}